In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import PowerTransformer
import math
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.feature_selection import RFE
from sklearn.svm import SVR
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import QuantileTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import plot_tree
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score, precision_score, recall_score
from collections import Counter
from sklearn.svm import SVC
from sklearn.ensemble import StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import StratifiedKFold

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_table("quest_data/power_consumption.txt",sep=';')

C:\Users\matus\AppData\Local\Temp\ipykernel_20968\3124357611.py:1: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_table("quest_data/power_consumption.txt",sep=';')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Global_active_power    object
 3   Global_reactive_power  object
 4   Voltage                object
 5   Global_intensity       object
 6   Sub_metering_1         object
 7   Sub_metering_2         object
 8   Sub_metering_3         float64
dtypes: float64(1), object(8)
memory usage: 142.5+ MB

In [10]:
df.head(50)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
5,16/12/2006,17:29:00,3.520,0.522,235.020,15.000,0.000,2.000,17.0
6,16/12/2006,17:30:00,3.702,0.520,235.090,15.800,0.000,1.000,17.0
7,16/12/2006,17:31:00,3.700,0.520,235.220,15.800,0.000,1.000,17.0
8,16/12/2006,17:32:00,3.668,0.510,233.990,15.800,0.000,1.000,17.0
9,16/12/2006,17:33:00,3.662,0.510,233.860,15.800,0.000,2.000,16.0
10,16/12/2006,17:34:00,4.448,0.498,232.860,19.600,0.000,1.000,17.0
11,16/12/2006,17:35:00,5.412,0.470,232.780,23.200,0.000,1.000,17.0
12,16/12/2006,17:36:00,5.224,0.478,232.990,22.400,0.000,1.000,16.0
13,16/12/2006,17:37:00,5.268,0.398,232.910,22.600,0.000,2.000,17.0
14,16/12/2006,17:38:00,4.054,0.422,235.240,17.600,0.000,1.000,17.0
15,16/12/2006,17:39:00,3.384,0.282,237.140,14.200,0.000,0.000,17.0
16,16/12/2006,17:40:00,3.270,0.152,236.730,13.800,0.000,0.000,17.0
17,16/12/2006,17:41:00,3.430,0.156,237.060,14.400,0.000,0.000,17.0
18,16/12/2006,17:42:00,3.266,0.000,237.130,13.800,0.000,0.000,18.0
19,16/12/2006,17:43:00,3.728,0.000,235.840,16.400,0.000,0.000,17.0
20,16/12/2006,17:44:00,5.894,0.000,232.690,25.400,0.000,0.000,16.0
21,16/12/2006,17:45:00,7.706,0.000,230.980,33.200,0.000,0.000,17.0
22,16/12/2006,17:46:00,7.026,0.000,232.210,30.600,0.000,0.000,16.0
23,16/12/2006,17:47:00,5.174,0.000,234.190,22.000,0.000,0.000,17.0
24,16/12/2006,17:48:00,4.474,0.000,234.960,19.400,0.000,0.000,17.0
25,16/12/2006,17:49:00,3.248,0.000,236.660,13.600,0.000,0.000,17.0
26,16/12/2006,17:50:00,3.236,0.000,235.840,13.600,0.000,0.000,17.0
27,16/12/2006,17:51:00,3.228,0.000,235.600,13.600,0.000,0.000,17.0
28,16/12/2006,17:52:00,3.258,0.000,235.490,13.800,0.000,0.000,17.0
29,16/12/2006,17:53:00,3.178,0.000,235.280,13.400,0.000,0.000,17.0
30,16/12/2006,17:54:00,2.720,0.000,235.060,11.600,0.000,0.000,17.0
31,16/12/2006,17:55:00,3.758,0.076,234.170,16.400,0.000,0.000,17.0
32,16/12/2006,17:56:00,4.342,0.090,233.770,18.400,0.000,0.000,16.0
33,16/12/2006,17:57:00,4.512,0.000,233.620,19.200,0.000,0.000,17.0
34,16/12/2006,17:58:00,4.058,0.200,234.680,17.600,0.000,0.000,17.0
35,16/12/2006,17:59:00,2.472,0.058,236.940,10.400,0.000,0.000,17.0
36,16/12/2006,18:00:00,2.790,0.180,237.520,11.800,0.000,0.000,18.0
37,16/12/2006,18:01:00,2.624,0.144,238.200,11.000,0.000,0.000,17.0
38,16/12/2006,18:02:00,2.772,0.118,238.280,11.600,0.000,0.000,17.0
39,16/12/2006,18:03:00,3.740,0.108,236.930,16.400,0.000,16.000,18.0
40,16/12/2006,18:04:00,4.928,0.202,235.010,21.000,0.000,37.000,16.0
41,16/12/2006,18:05:00,6.052,0.192,232.930,26.200,0.000,37.000,17.0
42,16/12/2006,18:06:00,6.752,0.186,232.120,29.000,0.000,36.000,17.0
43,16/12/2006,18:07:00,6.474,0.144,231.850,27.800,0.000,37.000,16.0
44,16/12/2006,18:08:00,6.308,0.116,232.250,27.000,0.000,36.000,17.0
45,16/12/2006,18:09:00,4.464,0.136,234.660,19.000,0.000,37.000,16.0
46,16/12/2006,18:10:00,3.396,0.148,236.200,15.000,0.000,22.000,18.0
47,16/12/2006,18:11:00,3.090,0.152,237.070,13.800,0.000,12.000,17.0
48,16/12/2006,18:12:00,3.730,0.144,235.780,16.400,0.000,27.000,17.0
49,16/12/2006,18:13:00,2.308,0.160,237.430,9.600,0.000,1.000,17.0